* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #1C1C1C;
}

main {
    max-width: 550px;
    margin: 40px auto 0;
    background-color: white;
}

/* Nav section */
nav,
select,
button,
main {
    border: 1px solid #D1D5DB;
    border-radius: 8px;
    font-family: 'Inter', sans-serif;


}

nav {
    padding: 1.4375em 0.9375em 1.5625em;
}

form {
    display: flex;
    column-gap: 0.74em;
    align-items: center;
    justify-content: space-between;
}

#color {
    border: 0.5px solid #D1D5DB;
    background-color: #E5E5E5;
    height: 42px;
    width: 61px;
}

#custom-select,
select,
#hex-container {
    width: 100%;
}

#custom-select {
    /* border: 1px solid red; */
    position: relative;
}

select {
    padding: 0.5625em 0.8125em;
    border-radius: 6px;
    cursor: pointer;
    /* appearance: none; */
    /* -webkit-appearance: none; */
    /* background-color: white; */
}

button {
    background-color: white;
    border-radius: 4px;
    padding: 0.8125em 0.6875em;
    cursor: pointer;
}

span {
    display: block;
    white-space: nowrap;
    color: black;
}

/* Container section */
#container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    height: 414px;
}

#hex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.6875em 1px;
    font-size: 12px;
}